.icon-blank{
	background:url('../../images/home/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../../images/home/icons/edit_add.png') no-repeat center center;
}
.icon-sadd{
	background:url('../../images/home/icons/sadd.png') no-repeat center center;
}
.icon-ssave{
	background:url('../../images/home/icons/ssave.png') no-repeat center center;
}
.icon-sdelete{
	background:url('../../images/home/icons/sdelete.png') no-repeat center center;
}
.icon-edit{
	background:url('../../images/home/icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('../../images/home/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../../images/home/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../../images/home/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../../images/home/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../../images/home/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../../images/home/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../../images/home/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../../images/home/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('../../images/home/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('../../images/home/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../../images/home/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../../images/home/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../../images/home/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../../images/home/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../../images/home/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('../../images/home/icons/filter.png') no-repeat center center;
}
.icon-role{
	background:url('../../images/home/icons/menu/role.png') no-repeat center center;
}

.icon-mini-add{
	background:url('../../images/home/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../../images/home/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../../images/home/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../../images/home/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../../images/home/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../../images/home/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../../images/home/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../../images/home/icons/large_chart.png') no-repeat center center;
}

.icon-permission{
	background:url('../../images/home/icons/permission.png') no-repeat center center;
}
.icon-export{
	background:url('../../images/home/icons/export.png') no-repeat center center;
}
.icon-import{
	background:url('../../images/home/icons/import.png') no-repeat center center;
}
.icon-approval{
	background:url('../../images/home/icons/approval.png') no-repeat center center;
}
.icon-sendout{
	background:url('../../images/home/icons/sendout.png') no-repeat center center;
}
.icon-seadetail{
	background:url('../../images/home/icons/seadetail.png') no-repeat center center;
}
.icon-changepic{
	background:url('../../images/home/icons/changePic.png') no-repeat center center;
}
.icon-approve{
	background:url('../../images/home/icons/approve.png') no-repeat center center;
}
.icon-sync{
	background:url('../../images/home/icons/sync.png') no-repeat center center;
}
.icon-gettop{
	background:url('../../images/home/icons/gettop.png') no-repeat center center;
}
.icon-down{
	background:url('../../images/home/icons/down.png') no-repeat center center;
}
.icon-synchronize{
	background:url('../../images/home/icons/synchronize.png') no-repeat center center;
}

